.fileUpload{
    
    margin: 1rem;
}

.select{
    
    display: flex;
}

.progress{
    width: 10rem;
    display: flex;
}

.progress-bar{
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.upload{
    margin: 1rem;
    display: flex;
}